::root {
    --font-family-serif:"Georgia";
}

body {
    background-color: rgb(243 255 206 / 75%); /*f0f0f0;*/
}

.card {
    background-color: #fff;
}

#titulo h1 {
  font-family: "Georgia";
}

#imagen {
}

#wrapper {
    background-color: rgb(243 255 206 / 75%);
    padding-top:  56px;
    margin-top: -56px;
    position: relative;
}

a {
    color: #000;
    text-decoration: underline;
}

h1 a, h2 a, h3 a, nav a { 
    text-decoration: none;
}

a.navbar-brand {
    font-family: "Helvetica";
}

.esp {
    font-style:italic;
}

.navbar-light {
    background-color: rgb(243 255 206 / 75%);
}

@media (max-width: 992px) {
    #navbarNavDropdown {
        color:#000;
        font-size: 1.4rem;
    }
}
