::root {
    --font-family-serif:"Georgia";
}

body {
    font-family: "Roboto";
    background-color: #90b1a6; /*f0f0f0;*/
    color:  #0a3a3c;
    font-size: 18px;
}

.card {
    background-color: #fff;
}

#titulo h1 {
  font-family: "Roboto";
}

h6 {
    font-weight:  bold;
}

.text-muted {
    color: #4a6763 !important;
}

#imagen {
}

#wrapper {
    background-color: rgb(144 177 166 / 75%);
    padding-top:  56px;
    margin-top: -56px;
    position: relative;
}

a {
    color: #000;
    text-decoration: underline;
}

h1 a, h2 a, h3 a, nav a { 
    text-decoration: none;
}

a.navbar-brand {
    color:  #fff;
}

.esp {
    font-style:italic;
}

.navbar-light {
    background-color: rgb(144 177 166 / 75%);
}

@media (max-width: 992px) {
    #navbarNavDropdown {
        color:#000;
        font-size: 1.4rem;
    }
}
